body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  header {
    height: 200px;
    background-color: greenyellow;
    width: 100%;
  }
 
  main {
    height: 70%;
    background-color: aquamarine;
  }
  footer {
    height: 300px;
    background-color: green;
  }
  .main-container
  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }